body{
    margin: 0;
    background-color: #3a3f58;
    height: 100vh;

}

header{
    background-color: #f9ac67;
    margin: 0;
}

.header_container{
    max-width: 83rem;
    margin: 0 auto;
    padding: 15px;
}

.header_title{
    text-align: center;
    color: white;
    width: 100%;
}

.header_title h1{
    margin: 0;
}


.juego{
    height: calc( 100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.Juego_container{
    max-width: 83rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    
}

.contestacion{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contestacion p {
    margin: 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;

}
.contestacion p::after{
    content: "";
    background-color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -8px;
    left: 50%;
    transform: rotate(45deg);
    z-index: -1;
}

.abuelita{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.abuelita img{
    width: 250px;
    height: 250px;
   
}

.mensaje{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje input{
    padding: 5px;
    font-size: 20px;
    border: none;
    margin: 0 5px;
}

.mensaje a{
    text-decoration: none;
    color: #ece6cd;
    background-color: #ee6a59;
    padding: 5px 20px;
    font-weight: 900;
    font-size: 20px;
    margin: 0 5px;

}


.mensaje a:hover{
    background-color: #ff662a;
}


@media ( max-width : 800px) {
    .mensaje input{
        font-size: 16px;
    }
    
    .mensaje a{
        font-size: 16px;

    }
    
}